body{
    background-color:#8C4623;
    color: #F9F3E9;
    font-family: "DM Serif Text", serif;
    font-style: normal;
    overflow-x: hidden;
    margin:0;
}

header{
    position:sticky;
    top:0;
    background-color:#2B1B17;
    margin:0;
    padding: 0;
    width:100%;
    z-index: 100;
}

header nav{
    padding: 1rem 2rem;
    align-items: center;
    display:flex;
}

header nav h1{
    margin:0;
    color: #F9F3E9;
    margin-right: auto;
}

header nav ul{
    list-style-type: none;
    color:#F9F3E9;
    display:flex;
    justify-content: center;
    gap: 6.25rem;
    margin:0;
    padding:0;
}

header nav ul li a {
    text-decoration: none;
    color: #F9F3E9;
    transition: color 0.3s ease;
}

/* highlights the link that corresponds to the current page*/
header nav ul li a:hover {
    color: #EFBF04;
  }

.social-icons {
    display: flex;
    gap: 0.5rem;
    margin-left: 4rem;
}

.social-icons a {
    color: #F9F3E9;
    width: 40px;
    height: 40px;
    border: 2px solid #F9F3E9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #F9F3E9;
    color: #2B1B17;
}

.social-icons i {
    font-size: 1.2rem;
}